---
import Card from '../components/Card.astro';
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';

import sobreNosotros from '../data/aboutMe.json';
import funkos from '../data/funko.json';

const masVendidos = funkos
  .sort(() => 0.5 - Math.random())
  .slice(0, 3)
  .map((item) => ({
    name: item.title,
    series: item.series,
    img: item.imageName,
    price: `${Math.floor(Math.random() * 100) + 1} $`,
  }));

const ultimasNovedades = funkos
  .sort(() => 0.5 - Math.random())
  .slice(3, 6)
  .map((item) => ({
    name: item.title,
    price: `${Math.floor(Math.random() * 100) + 1} $`,
    img: item.imageName,
    series: item.series,
  }));

import carrouselData from '../data/carrouselData.json';

const groups = [];
for (let i = 0; i < carrouselData.length; i += 3) {
  groups.push(carrouselData.slice(i, i + 3));
}
---

<Layout
  title='Inicio'
  pageDescription='Página de inicio de Funkonnection, tienda de funkos en línea lider en el sector'
>
  <div class='container-fluid'>
    <div class='row mt-5'>
      <div class='col-10'>
        <Container
          title='FUNKOS MAS VENDIDOS EN STOCK'
          articles={ultimasNovedades}
          animation='fade-right'
          duration='1000'
          delay='0'
        />
      </div>
      <div class='col-2'></div>
    </div>
    <div class='row mt-5'>
      <div class='col-2'></div>
      <div class='col-10'>
        <Container
          title='ULTIMAS NOVEDADES EN STOCK'
          articles={masVendidos}
          animation='fade-left'
          duration='1000'
          delay='100'
        />
      </div>
    </div>

    <div
      class='row mt-5'
      data-aos='fade-up'
      data-aos-duration='1000'
    >
      <h3 class='text-dark text-center fw-bold'>En que nos destacamos?</h3>

      <div
        id='about'
        class='carousel slide shadow rounded-3 p-5'
        data-bs-ride='carousel'
      >
        <div class='carousel-inner p-3'>
          {
            groups.map((group, index) => (
              <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
                <div
                  class='d-flex gap-5 justify-content-center'
                  style='height: 400px;'
                >
                  {group.map((item) => (
                    <Card
                      title={item.title}
                      subtitle={item.description}
                      img={item.img}
                      width={16}
                      imgSize={200}
                    />
                  ))}
                </div>
              </div>
            ))
          }
        </div>
        <button
          class='carousel-control-prev'
          type='button'
          data-bs-target='#about'
          data-bs-slide='prev'
        >
          <span
            class='carousel-control-prev-icon bg-dark'
            aria-hidden='true'
          ></span>
        </button>
        <button
          class='carousel-control-next'
          type='button'
          data-bs-target='#about'
          data-bs-slide='next'
        >
          <span
            class='carousel-control-next-icon bg-dark'
            aria-hidden='true'
          ></span>
        </button>
      </div>
    </div>

    <h3 class='text-center mt-5 mb-3'>Sobre Nosotros</h3>
    <div
      class='row d-flex gap-5 text-center d-flex justify-content-center'
      data-aos='fade-up'
      data-aos-duration='1000'
    >
      {
        sobreNosotros.map((item) => (
          <Card
            title={item.title}
            subtitle={item.subtitle}
            img={item.img}
            width={26}
            imgSize={300}
            animationHover='hvr-bounce-in'
          />
        ))
      }
    </div>
  </div>
</Layout>
