---
interface Props {
  title: string;
  subtitle: string;
  img: string;
  width?: number;
  imgSize?: number;
  series?: string[];
  animationHover?: string;
}
const {
  title,
  subtitle,
  img,
  width = 10,
  imgSize = 150,
  animationHover = 'hvr-grow',
  series,
} = Astro.props;

import { Image } from 'astro:assets';
---

<div
  class=`card bg-light shadow-lg ${animationHover}`
  style={`width: ${width}rem;`}
>
  <Image
    class='card-img-top p-3'
    src={img}
    alt='Card image cap'
    width={imgSize}
    height={imgSize}
  />
  <div class='card-body'>
    <h5 class='card-title text-center'>{title}</h5>
    <h6 class='card-subtitle mb-2 text-muted text-center'>
      {subtitle}
      <div class='d-flex gap-2 h-100 flex-column align-content-end'>
        {
          series &&
            series.map((serie) => (
              <span class='badge bg-primary text-white mx-1'>{serie}</span>
            ))
        }
      </div>
    </h6>
  </div>
</div>
