---
import Card from './Card.astro';

interface Props {
  title?: string;
  animation?: string;
  duration?: string;
  delay?: string;
  articles: Array<{
    name: string;
    price: string;
    img: string;
    series: string[];
  }>;
}

const { title, animation, duration, delay, articles } = Astro.props;
---

<div
  class='bg-secondary w-100 container-fluid shadow rounded-4 p-3'
  data-aos={animation}
  data-aos-duration={duration}
  data-aos-delay={delay}
>
  <div class='row'>
    {
      title && (
        <div class='col-3 fw-bold fs-5 text-center align-content-center'>
          {title}
        </div>
      )
    }
    {
      articles.map((article) => {
        return (
          <div class='col-3 d-flex justify-content-center'>
            <Card
              title={article.name}
              subtitle={article.price}
              img={article.img}
              series={article.series}
              width={14}
              imgSize={200}
            />
          </div>
        );
      })
    }
  </div>
</div>
