---
import { Image } from "astro:assets";
import twitter from "../assets/icons/twitter.png";
import facebook from "../assets/icons/facebook.png";
import instagram from "../assets/icons/instagram.png";
import applePay from "../assets/icons/apple-pay.png";
import visa from "../assets/icons/visa.png";
import mastercard from "../assets/icons/mastercard.png";
import paypal from "../assets/icons/paypal.png";
---

<footer class="w-100 bg-primary fw-bold rounded-top-4 mt-3">
  <div class="container">
    <div class="row p-3">
      <div class="col-2">
        <div class="d-flex flex-column align-items-center gap-3">
          <Image src={twitter} alt="Logo twitter" width="48" />
          <Image src={facebook} alt="Logo facebook" width="48" />
          <Image src={instagram} alt="Logo instagram" width="48" />
        </div>
      </div>
      <div class="col-5">
        <h3>CONOCENOS</h3>
        <ul class="list-unstyled d-flex flex-column gap-2 px-5">
          <li>Quienes somos</li>
          <li>Politicas de devoluciones</li>
          <li>Politicas de compras</li>
        </ul>
      </div>
      <div class="col-5">
        <h3>ENLACES DE INTERES</h3>
        <ul class="list-unstyled d-flex flex-column gap-2 px-5">
          <li>Antes de comprar</li>
          <li>Mi lista de deseos</li>
          <li>Politicas de cookies</li>
        </ul>
      </div>
    </div>
    <div class="row m-1">
      <div
        class="col-12 d-flex justify-content-around align-items-center gap-3"
      >
        <h3 class="ml-5">FORMAS DE PAGO</h3>
        <Image src={applePay} alt="Logo apple pay" width="48" />
        <Image src={visa} alt="Logo visa" width="48" />
        <Image src={mastercard} alt="Logo mastercard" width="48" />
        <Image src={paypal} alt="Logo paypal" width="48" />
      </div>
    </div>
  </div>
  <h3 class="text-center bg-dark text-light p-3">
    Copyrigth &copy; 2024 Funkonnection.com - Todos los derechos reservados
  </h3>
</footer>
